.image-wrapper {
  background: #e6e6e6;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(191,191,191,1);
  -moz-box-shadow: 10px 10px 25px 0px rgba(191,191,191,1);
  box-shadow: 10px 10px 25px 0px rgba(191,191,191,1);
  margin-top: 10px;
}

.image-title {
  font-family: "Indie Flower", cursive;
  text-align: center;
}

.like-wrapper {
  text-align: center;
  button:focus {
    outline: none;
  }

}

.like-icon {
  margin-top: 10px;
  width: 30px;
  &:focus {
    outline: none;
  }
}

.image-owner {
  margin-top: 10px;
  font-size: 1.2em;
  font-family: cursive;
}